[2014-06-05 21:34] teik94 opened #1 "error when i test code"
OpenNat Information: 0 : UPnP Response: Router advertised a 'urn:schemas-upnp-org:service:WANIPConnection:1' service!!!
OpenNat Error: 0 : Unhandled exception when trying to decode a device's response.
OpenNat Error: 0 : Report the issue in https://github.com/lontivero/Open.Nat/issues
OpenNat Error: 0 : Also copy and paste the following info:
OpenNat Error: 0 : -- beging --------------------------

[2014-06-06 09:07] teik94 opened #2 "about modem and router"
if my modem i currently use connect to another router and that router connect to the internet
how can i port map to that router

[2014-06-06 14:08] #1 closed, assigned to lontivero

[2014-06-06 14:15] #2 closed, assigned to nobody

[2014-06-19 05:17] strich opened #3 "Discovery Timeout never returns"
I've been running the default console test on a number of machines to test how well the framework works and I've run into an issue on one of the machines where the discovery timeout never occurs. The last log it ever prints is the searching information (It finds nothing).
I haven't been able to determine a root cause there yet and since its the code out of the box I haven't much information to pro

[2014-06-26 01:34] strich opened #4 "Crash when trying to delete a port map that doesn't exist"
If you try to delete a port map that doesn't exist the application will generate an unhandled exception:

Error 714: NoSuchEntryInArray

and then crash.

Surrounding the delete port map method avoids the crash, however this should be handled internally.

[2014-07-01 09:25] strich opened #7 "Crash when trying to parse WANPPPConnection v2?"
Got this crash report from a user:

Nat - Information > Initializing
OpenNat - Information > StartDiscovery
OpenNat - Information > Searching
OpenNat - Information > Searching for: UpnpSearcher
OpenNat - Verbose > UPnP Response: HTTP/1.1 200 OK
CACHE-CONTROL: max-age=1800
EXT:
LOCATION: http://192.168.0.66:8080/upnpdev/devc/uuid_3d59d5e0-1dd2-11b2-bfd6-000391c3f0fe/00
SERVER: Q77XTLN/v4.8.1-tln-11

[2014-07-01 23:06] #7 closed, assigned to nobody

[2014-07-02 08:48] strich opened #8 "No valid control service was found in the service descriptor document"
OpenNat - Information > Initializing
OpenNat - Information > StartDiscovery
OpenNat - Information > Searching
OpenNat - Information > Searching for: UpnpSearcher
OpenNat - Verbose > UPnP Response: HTTP/1.1 200 OK
CACHE-CONTROL: max-age=1800
EXT:
LOCATION: http://192.168.0.66:8080/upnpdev/devc/uuid_3d59d5e0-1dd2-11b2-bfd6-000391c3f0fe/00
SERVER: Q77XTLN/v4.8.1-tln-11-g4207628 UPnP/1.0 BH-upnpdev/2.

[2014-07-03 14:09] #8 closed, assigned to nobody

[2014-07-07 13:39] strich opened #9 "CreatePortMapAsync may not finish before the application exits"
If you try to map a large number of ports (8+) a situation can occur where your application will exit before they complete. We have at least one client where the router does not appear to respond very quickly and can take up to 10-15 seconds to perform 8 create/delete portmaps.

Exiting the application early appears to stop some of the port maps from completing - Does Open.NAT queue up portmap req

[2014-07-07 14:48] #9 closed, assigned to nobody

[2014-08-08 01:20] ispysoftware opened #10 "infinite recursion"
trying to add a port map that already exists results in infinite recursion. CreatePortMapAsync in UpnpNatDevice.cs calls itself on error.

[2014-08-08 01:55] ispysoftware opened #11 "GetSpecificMappingAsync broken"
GetSpecificMappingAsync calls GetGenericPortMappingEntryResponseMessage which passes it's type name to the base class and fails on the XML node lookup. Need to create a new class GetSpecificPortMappingEntryResponseMessage and lose the bool _genericMapping flag in the constructors.

[2014-08-08 04:24] #4 closed, assigned to lontivero

[2014-08-08 04:26] #3 closed, assigned to lontivero

[2014-08-08 13:45] lontivero opened #12 "Add port mapping should throw an exception on error"
It was suggested:

[2014-08-08 13:50] #11 closed, assigned to nobody

[2014-08-13 04:58] lontivero opened #13 "It ignores the specified protocol"
It tries to discover upnp and pmp devices ignoring the parameter specified.

[2014-08-13 05:02] lontivero opened #14 "It tries to renew portmappings before expiration"
It tries to renew portmappings before expiration  causing 718 ConflictInMappingEntry error because of the collition. see [Issue #11](https://github.com/lontivero/Open.NAT/issues/11)

[2014-08-13 05:14] strich opened #15 "Open.NAT 2.0 does not appear to allow one to disable auto-renewal or auto-removal"
The new Open.NAT 2.0 API does not appear to contain the ability to disable the auto-renewal functionality or the auto-remove-on-exit functionality.

[2014-08-13 05:50] #10 closed, assigned to nobody

[2014-08-13 05:50] #12 closed, assigned to nobody

[2014-08-13 05:50] #13 closed, assigned to nobody

[2014-08-13 05:50] #14 closed, assigned to nobody

[2014-08-13 12:55] #15 closed, assigned to nobody

[2014-08-23 00:13] lontivero opened #16 "Parameterless DiscoverDeviceAsync method throws Exception"
[From CodeProject.com](http://www.codeproject.com/Articles/807861/Open-NAT-A-NAT-Traversal-library-for-NET-and-Mono?msg=4888486#xx4888486xx)

Great library. I was able to access a nodejs site on my pc from my phone using the external ip address and port. One observation though

This throws an exception

[code]

but this works fine

[code]

Not sure why but details of the exception are below. The s

[2014-08-23 01:22] #16 closed, assigned to nobody

[2014-08-24 11:51] strich opened #17 "Open.NAT does not work on Linux"
If you try to run Open.NAT Console Test on Linux (Ubuntu 14.04 Mono 3.2.8) it fails - It never finds a UPnP device where a Windows PC on the same network will. It is likely an issue with the way Open.NAT is using the networking framework where it is not properly listening to the right interfaces.

Additionally, even if you apply a verbose logging level Open.NAT does not appear to log verbosely.

Y

[2014-09-11 16:16] #17 closed, assigned to nobody

[2014-11-21 07:26] g0g0l opened #18 "How to manage multilevel router?"
I am a little confused, my situation is this: I have a home router and 2 laptops and 1 mobile phone is connected to that. But the home router is itself connected to a another hub. So my home router has a static public IP which is not the actual public IP of internet. My laptop has internal IP of 192.168.1.5, the router is set to static IP 10.10.152.121 and actual public IP is dynamic. I am able to

[2014-11-24 03:03] #18 closed, assigned to nobody

[2015-03-20 14:05] Mailaender opened #20 "Server failed with error: 401 - Invalid Action"
Detection seems to work fine:

[code]

But every actions fails with 401 for no reason like getting the external IP address:

[code]

or mapping ports:

[code]

[2015-03-20 14:53] Mailaender opened #21 "Avoid the generic and unused namespace Open."
It is a bit annoying to work with IDEs when you type `using Op<TAB>` it gives you `using Open.` which is not helpful. You always want `using Open.Nat`. When using it in @OpenRA it is also conflicting a lot. I suggest to go with `OpenNat` instead.

[2015-03-20 15:55] lontivero commented on #20
Ok, I will take a look at this today. Could you reboot your router and try again? This is just to be sure it is not a temporal router problem.

[2015-03-20 16:06] lontivero commented on #21
I understand what you say. The point is that change will break all the clients and we don't know what projects are using open.nat. Another fact is that I use 'Open' for all my projects (for those that I really care) so, @OpenRA will use alway Open.Nat but other projects could potencially use Open.Nat, Open.WinKeyboardHook or Open.HttpProxy.

I appreciate his kind of recomendations from those, like

[2015-03-20 16:06] #21 closed

[2015-03-20 16:16] Mailaender commented on #20
Tried that. Did not help. It also works with Mono.Nat 1.2.21 so I am pretty sure it is a regression. Any pointers where I can start digging and patching?

[2015-03-20 16:23] Mailaender commented on #21
I agree, it is probably too late already.

[2015-03-20 19:55] lontivero commented on #20
If you could capture the full traffic using a proxy server like Fiddle2 that could help me a lot. The trace is not enough, sadly.

[2015-03-20 22:29] lontivero commented on #20
Well, I think that I found it. The problem seems to be here:
´´´
Open.NAT Information: 0 : 192.168.178.1:49000: Found upnp service at: /igdupnp/control/WANIPConn1
Open.NAT Information: 0 : 192.168.178.1:49000: Handshake Complete
Open.NAT Information: 0 : 192.168.178.1:49000: Absolute URI detected. Host address is now: 192.168.178.1:49000
Open.NAT Information: 0 : 192.168.178.1:49000: New control u

[2015-03-21 00:38] lontivero commented on #20
Could you try the change that I made in the [FritzRouter branch](https://github.com/lontivero/Open.NAT/tree/FritzRouter), please?

[2015-03-21 07:37] Mailaender commented on #20
I can confirm that your branch fixes it. The whole `Open.Nat.ConsoleTest` case runs fine now.

[2015-03-21 07:38] Mailaender commented on #20
Do you still need a full traffic capture?

[2015-03-21 17:17] lontivero commented on #20
No, the trace showed me the problem. I will close it after merge it to master. That will build and publish a new nuget package.

[2015-03-25 19:25] #20 closed

[2015-04-16 16:12] at1993 opened #22 "Error when Service control urls have question marks"
When I tested out the ConsoleTest program, I ran into problems at
device.GetExternalIPAsync() on three different routers.

[code]
Notice that the UriBuilder replaced the question mark character to %3F. This caused the router to return 404 error.

Solution:
[code]

My second problem is in GetAllMappingsAsync, one of my routers (sagemcom vdsl modem/router)
returns mapping entry with internalclient e

[2015-04-16 16:49] lontivero commented on #22
Thank you very much for reporting these problems. I will fix them asap.

About your question, I used it because it worked so far. Believe me that Open.NAT is hard to test because tehre are a lot of different routers out there. I have to check now if it was a bad idea (and remove it) or if there is something wrong in the way Open.NAT is using it (and fix it).

I will let you know when it is done an

[2015-04-16 16:56] at1993 commented on #22
Thank you Lucas for your prompt reply. I will be more than happy to test your new fix. Cheers!

[2015-04-16 18:35] at1993 commented on #22
Hi Lucas, I have another router with DD-WRT. GetAllMappingsAsync failed when the index has exceeded the number of entries in the mapping table. The router returns error 402. So the catch section need to be something like

...
if ((e.ErrorCode == UpnpConstants.SpecifiedArrayIndexInvalid) ||
                        (e.ErrorCode == UpnpConstants.NoSuchEntryInArray) ||
                        (e.Error

[2015-04-16 19:41] lontivero commented on #22
Ummm ok. The weird part of this error is that the router doesn't follow the specs, I think. It should fail with a different error code and description. Anyway, it is something that has to be fixed.

Thank you for your effort. I am happy to know there is a person with a lot of routers using O.N. ;)

[2015-04-17 04:48] lontivero commented on #22
@at1993 ,

+ Question mark encoded problem was fixed.
+ DD-WRT linux based router returns 402-Invalid Argument. It was verified and the DD-WRT code is water clear (you can see it below). This means your fix is the only solution.
[code]
+ Sagemcom modem/router. I have problems with this one because the spec is clear: NewInternalClient CANNOT be wildcard (ie. empty). What you propose is check if res

[2015-04-17 15:32] at1993 commented on #22
The Sagemcom has a Games/Applications section which allows user a quick way of to do port forwarding. I believe those empty entries port mapping entries are simply a place holders of this list. I will verify that when I get some free time. Attached is the request and response.

![capture](https://cloud.githubusercontent.com/assets/11742960/7205174/69507312-e4f5-11e4-9ccf-80c4546970ab.png)

[2015-04-17 17:26] lontivero commented on #22
What you say makes sense for me. Empty NewInternalClient, NewInternalPort=0, NewEnabled=0. It seems to be a place holders or templace in the list for a the Microsoft Media Server. Moreover, the code fails if NewInternalClient is empty so, I will use your code.

[2015-04-17 20:05] at1993 commented on #22
Hi Lucas, I have a Linksys WRT1900AC.  It is not answering to SSDP sent during discovery.  UPnp is enabled at the router. Do you have any idea?

[2015-04-17 21:07] at1993 commented on #22
False alarm :)  It was the anti-virus thing. Open.NAT is OK for WRT1900AC.

I do have a proposal though. I would like to use Open.NAT in one of my application which managed the "Internet of Things". Some of these gadgets needs to be accessible from outside the router. The app will manage the port mappings when necessary. In Open.NAT, the PrivateIP is forced to DeviceInfo.LocalAddress in CreatePort

[2015-04-17 21:56] lontivero commented on #22
I think that is not a problem given it does not introduce any breaking change. Let me fix the defects first.

[2015-04-17 22:47] lontivero commented on #22
Done. Defects were fixed and are available for real testing in the BugFixing branch. Could you confirme everything is working correctly now, @at1993 please?

[2015-04-18 23:30] lontivero opened #23 "Allow creation of port mapping with arbitrary Private IP"
User @at1993 requests in issue #22

I do have a proposal though. I would like to use Open.NAT in one of my application which managed the "Internet of Things". Some of these gadgets needs to be accessible from outside the router. The app will manage the port mappings when necessary. In Open.NAT, the PrivateIP is forced to DeviceInfo.LocalAddress in CreatePortMapAsync. Two things need to be modified

[2015-04-20 17:07] at1993 commented on #22
Hi Lucas, the BugFixing branch works. Thank you very much!

[2015-04-20 17:41] lontivero commented on #22
Ok, I will merge it back to master and generate a new nuget package with these fixes and the new feature for allowing the creation of mappings with arbitrary privateIP.

I estimate it can be done on Wednesday. In the meanwhile you can work with your own fork or just wait a couple of days.

[2015-04-20 18:03] at1993 commented on #22
NP. and thank you.

[2015-04-21 19:17] at1993 commented on #22
When calling GetSpecificMappingAsync under DD-WRT it returns errorcode 402. Please see soap request & response attached.

![capture](https://cloud.githubusercontent.com/assets/11742960/7260627/70c42318-e839-11e4-8816-4fa8de4879d4.png)

[2015-04-21 20:27] lontivero commented on #22
I should have realized that the same problem would happen in GetSpecificMappingAsync method too. I will fix it in the BugFixing branch today.

Thanks for reporting, @at1993

[2015-04-21 20:35] lontivero opened #24 "GetSpecificMappingAsync under DD-WRT it returns errorcode 402"
When calling GetSpecificMappingAsync under DD-WRT it returns errorcode 402. Please see soap request & response attached.

![capture](https://cloud.githubusercontent.com/assets/11742960/7260627/70c42318-e839-11e4-8816-4fa8de4879d4.png)

Reported by user @at1993 on issue #22

[2015-04-22 00:59] #24 closed

[2015-04-22 01:03] lontivero commented on #23
Solved in 79642afbd865856763bb898a38a658b72e10fc78

[2015-04-22 01:03] #23 closed

[2015-04-22 01:04] lontivero commented on #22
Fixed on 790b407481fe3dc876ceee00461626a452f27d32

[2015-04-22 01:04] #22 closed

[2015-04-23 14:43] lontivero opened #25 "Include full request/response in tracing"
Oftentimes is very usefull to have the http requests and responses for understanding misbehaviours. Also, use System.Net trace listener and remove redundant traces.

[2015-04-28 20:06] MrPointer opened #26 "Error while obtaining my external IP address"
A week ago I tried the library for the 1st time, so to see if it works OK I ran the official test that @lontivero  has specified, but it failed almost right away.
The problem occurs to be a bad Http request, in the method GetExternalIPAddressResponse.
Here's a log file I've added to show the exception being thrown along with the built-in tracing:
[code]

I've also tried restarting my router, assig

[2015-04-30 05:59] lontivero commented on #26
@MrPointer there is a new version with better tracing capabilities that can help us to understand this issue. After running the ConsoleTest program, you will find a new "network.log" file in the bin\Debug folder. Could you share it with me? Thx.

[2015-04-30 14:30] MrPointer commented on #26
Here's the output of the new log file:
[code]

[2015-04-30 20:24] lontivero commented on #26
Thank you very much. I can see the router provides two service interfaces:

    <serviceType>urn:schemas-upnp-org:service:WANIPConnection:1</serviceType>
    <controlURL>/Public_UPNP_C3</controlURL>

and

    <serviceType>urn:schemas-upnp-org:service:WANPPPConnection:1</serviceType>
    <controlURL>/Public_UPNP_C5</controlURL>

Open.NAT uses the first one and maybe it should try with both. I have

[2015-04-30 23:10] lontivero commented on #26
@MrPointer could you share with me these two xml files?

* http://10.0.0.138:5000/Public_UPNP_WANIPConn.xml
* http://10.0.0.138:5000/Public_UPNP_WANPPPConn.xml

They have the services description for the two services available in your router. This is, the list of supported operations.

[2015-05-01 11:47] MrPointer commented on #26
@lontivero Do you mean simply to open them in my PC and publish the results here?

[2015-05-01 17:03] lontivero commented on #26
Yes, 10.0.0.138 is your router IP. 5000 is the port number where the services are listening and those xml files are the service descriptions. You should open them in your PC and publish them here or in pastebin (pastebin is problably the best place). With those files I will be able to see what kind of operations those services allow.

[2015-05-01 17:33] MrPointer commented on #26
@lontivero OK got it, just wanted to be sure!
Here's the link to the 1st one: [UPnP WANIPConn](http://pastebin.com/L5wP6hky)
Here's the link to the 2nd one: [UPnP WANPPPConn](http://pastebin.com/NZ7hmPVR)

[2015-05-01 19:37] lontivero commented on #26
I am sure the problem is Open.NAT is sending the request to the wrong service. You can verify this simply removing all the allowed serviceTypes in UpnpSearcher class by **WANPPPConnection:1**:

    internal class UpnpSearcher : Searcher
    {
        //.........
        private static readonly string[] ServiceTypes = new[]{
            "WANIPConnection:2",
            "WANPPPConnection:2",

[2015-05-01 23:37] MrPointer commented on #26
@lontivero Apparently it didn't solve the whole thing but I do get a different error now.
Here's the "Network.log" file's output: [Network.log](http://pastebin.com/N0zdPzj6)

[2015-05-02 00:22] lontivero commented on #26
@MrPointer it is the same error: 400 Bad request. We tried w/ WANIPConnection and WANPPPConnection and both failed in the same way. The log file wasn't usefull, sadly.

I didn't want to get to this point but, the only way to catch this defect will be running wireshark (or other TCP sniffer) and record the traffic between your program using NATUPnP 1.0 type library. It is impossible for me to know

[2015-05-03 08:27] MrPointer commented on #26
@lontivero I got a different exception this time so I thought it's a different error, my bad.
I think that I also should point out that using NATUPnP I didn't query my external IP like I told you already, I did it using a web page through a web request, maybe it'll help.
Now about Wireshark, I'm familiar with the program but never really understood what to do with and how it works, and unfortunate

[2015-05-03 17:40] lontivero commented on #26
@MrPointer that's not what I see. I see the same error code and description (400 Bad Request).

You always can know you external ip address using a web site tool on internet and that's okey, We don't need Open.NAT if that's the only thing we want to know.

The problem now is that we don't know if other tools or libraries can communitace, using Upnp, with your router or not.  We tried with the two

[2015-05-03 19:10] MrPointer commented on #26
@lontivero Yes, UPnP **is** enabled on my router hence I could use the NATUPnP 1.0 type library.
Moreover, send and receive communications work just fine, as the ports are forwarded properly.

I think you misunderstood me when I asked a step-by-step guidance. I'm not familiar at all with Wireshark's interface, meaning I'm completely lost when I open the program. I need some guidance from you on wh

[2015-05-07 01:45] lontivero commented on #25
Done in 02419cfea2a3b923bb9efd3621a73246c70e128d

[2015-05-07 01:45] #25 closed

[2015-05-20 20:04] at1993 commented on #24
When calling GetSpecificMappingAsync under LINKSYS WRT1900AC AC1900 it returns errocode 501
errorDescription: PAL_UPNP_SOAP_E_ACTION_FAILED
NOTE: this occurs when specific entry does not exist.

[2015-05-21 18:56] lontivero commented on #24
I will take a look at this this week. Thank you @at1993

[2015-05-22 03:09] lontivero opened #28 "LINKSYS WRT1900AC AC1900 Fails w/ error 501"
@at1993 [wrote](https://github.com/lontivero/Open.NAT/issues/24#issuecomment-104019406):
When calling GetSpecificMappingAsync under LINKSYS WRT1900AC AC1900 it returns errocode 501
errorDescription: PAL_UPNP_SOAP_E_ACTION_FAILED
NOTE: this occurs when specific entry does not exist.

[2015-05-22 03:10] lontivero commented on #28
@at1993 this was fixed on BugFixing branch. It will be include in the next nuget package version.

[2015-07-07 15:14] TheMan654 opened #29 "DiscoverDeviceAsync exception"
Forgive me if this is a total beginner's question, but I wrote the following piece of code:

        public async void ForwardPorts()
        {
            try
            {
                NatDiscoverer natDiscover = new NatDiscoverer();
                NatDevice natDevice = await natDiscover.DiscoverDeviceAsync();
                await natDevice.CreatePortMapAsync(new Mapping(Protocol.Tcp, IPAdd

[2015-07-07 15:33] lontivero commented on #29
@TheMan654 please download and run the **Open.NAT.ConsoleTest** project. After that, you will find the  **network.log** log file (in the Output Directory) with absolutly all the information needed for diagnostic. Please, do that and review the log file, or send it to me.

[2015-07-07 16:41] TheMan654 commented on #29
Thanks for the help, and for the fast response!
I managed to fix my problem, it was that I wrote:
NatDevice natDevice = await natDiscover.DiscoverDeviceAsync();

Instead of:
NatDevice natDevice = await natDiscover.DiscoverDeviceAsync(PortMapper.Upnp, cts);

Also thank you for the library, it really helped my a lot in my project.

[2015-07-07 17:36] #29 closed

[2015-08-16 00:40] at1993 opened #30 "Action not authorized From GetAllMappingsAsync"
The GetAllMappingsAsync failed in a Sagemcom Fast 5250 router.
The error returned as below with wireshark capature attached.

Open.NAT - Information > GetAllMappingsAsync - Getting all mappings
Open.NAT - Warning > Server failed with error: 606 - Action not authorized

Any ideas?

![untitled](https://cloud.githubusercontent.com/assets/11742960/9291440/b9d6e4f0-438d-11e5-8624-e81b462bc51c.png)

[2015-08-16 20:09] at1993 commented on #30
Looks like a broken implementation of Upnp by Sagemcom (Model Fast 5250).

[2015-08-17 23:26] lontivero commented on #30
@at1993 the request seems to be correct. I have to do some research about the error in Sagemcom. I hope to have a fix in a week or two.

[2015-08-17 23:53] lontivero commented on #30
@at1993 provably the discovered UPnp device **is not** your Sagemcom router but a media server in your local network.

I need more information. Please, run the **Open.Nat.ConsoleTest** console application and share the **network.log** file here.

[2015-08-18 02:30] at1993 commented on #30
Thank you for looking into this. Below is the log file. Notice that it responded to the GetExternalIP query.

Open.NAT Information: 0 : Start Discovery
Open.NAT Information: 0 : Searching for: UpnpSearcher
Open.NAT Information: 0 : UPnP Response: Router advertised a &aposurn:schemas-upnp-org:service:WANPPPConnection:1&apos service!!!
Open.NAT Information: 0 : Found device at: http://192.168.2.1:49

[2015-08-18 04:53] lontivero commented on #30
After reviewing this log carefully, I cannot find any error in Open.NAT. The request is well-formed and also the parameters. The endpoint looks okay and, in fact, it returns the external IP correctly.

I think the router could have some configuration to prevent (unathorize) some actions. In that case, Open.NAT cannot help you.

If you find something else I will review it again but the problem is c

[2015-08-19 03:31] at1993 commented on #30
@lontivero I appreciate your effort. I did a few tests against this router tonight and found some interesting findings.
1. It will response to GetSpecificPortMappingEntry if the mapping is owned by you otherwise, an "action not authorized" is returned.
2. The same goes for DeletePortMapping.
3. I have some IoT that needs to have its port open via the AddPortMapping (my app will opens it on its beh

[2015-08-20 21:49] lontivero commented on #30
Sorry for the delay in my response. Look, old Open.NAT versions didn't allow you to use other IP addresses for InternalClientIP other that the machine performing the request. I've changed that to allow other use cases, I tested and everything was alright,

The UPnP specs don't say anything about that (even when it is a common sense validation).

[Here](http://www.upnp-hacks.org/igd.html), you can

[2015-09-02 18:45] #30 closed

[2015-11-04 01:47] beBoss opened #32 "How to open more then one port?"
Well, I can't figure out how to open more then one port. The code I used is from the example, but when run it, it opens only the last port (in my case 6626) and I THINK that it opens the two before the last one and then they stop working again but the last one is still working. My code:

        public static void Main()
        {
            OpenPort().Wait();

            Console.WriteLine("\nPr

[2015-11-13 13:29] lontivero commented on #32
I really sorry for the delay in this answer, I didn't see this issue report. Could you try with a non-zero time-to-live value and send me the logs?

[2015-11-13 22:24] beBoss commented on #32
Well, I don't know how to create a log file, but it opens only the last port (it seems like only the last line of code in my example 6626 works, for the other two don't). And how I check it, hmm when I check for the port only 6626 works and it's opened. Then I am swapping the ports in different order not 6622, 6625, 6626, but 6626,6622, 6625, and every time the last one is opened.

So in this exam

[2015-11-14 14:31] beBoss commented on #32
Hmm maybe depends on the router or IP. I'm not sure, but I'm now on a new place where I think my IP address is static, but yesterday on my old place, the IP was dynamic for sure. Now the code opens the three ports for few sec, almost immediately and all works.

[2015-12-25 12:39] Mailaender commented on #26
We may have stumbled upon the same issue: https://github.com/OpenRA/OpenRA/pull/10281#issuecomment-167225923

[2016-02-01 20:33] Mmokhtar opened #34 "Exception of type 'Open.Nat.NatDeviceNotFoundException' was thrown."
Here's my code:
[code]

I'm getting this Exception:
`Exception of type 'Open.Nat.NatDeviceNotFoundException' was thrown.`

[2016-03-13 04:21] p30arena opened #35 "PCP support?"
Hi, are you planning to implement PCP in future?

[2016-03-13 05:32] lontivero commented on #35
No in the near future because I don't have how to test it.

[2016-03-20 03:32] adotout opened #36 "Cannot find router when the router is not hosted at 192.168.0.1"
My router defaulted to 192.168.1.1 and was not discoverable. I changed the ip to 192.168.0.1 and it started working.

[2016-03-21 03:38] lontivero commented on #36
@adotout my router is not at 192.168.0.1 and Open.NAT can discover it well. Also, I have UPnp test services hosted at 127.0.0.1 and 10.0.0.2 and they are discovered with no problem. I think it has to be something dífferent and no related to ip address. Could you please share the network log here?

[2016-03-21 03:40] lontivero commented on #32
@beBoss please let me know if you can reproduce it.

[2016-03-22 04:50] lontivero commented on #34
@Mmokhtar that means it wasn't able to find any UPnp NAT device in your network. If you are sure it should have found one, please share the logs with me and i will review it asap.

[2016-03-22 08:30] p30arena opened #37 "Find Device's Local Ip Address"
Hi, is it possible to determine the device's local IP? (not ext)
I want to compare the default gateway to device's IP address to see if it is the active connection for internet.

[2016-03-22 13:43] lontivero commented on #37
@p30arena that is not possible with the library as it is. However, you modify the source code to publish the LocalAddress that is in the UpnpNatDeviceInfo class (if you use upnp of course).

https://github.com/lontivero/Open.NAT/blob/master/Open.Nat/Upnp/UpnpNatDeviceInfo.cs.

[2016-03-22 20:16] p30arena commented on #37
Does the broadcast message go over all available networks?
If I'm not mistaken I can remember that Windows doesn't broadcast on all interfaces, it just does it on the default interface.
If that's true, then only the UPNP device on the default network will be discovered and my problem is resolved.

[2016-03-22 20:23] p30arena commented on #37
https://social.technet.microsoft.com/Forums/windows/en-US/72e7387a-9f2c-4bf4-a004-c89ddde1c8aa/how-to-fix-the-global-broadcast-address-255255255255-behavior-on-windows?forum=w7itpronetworking

- Windows 7 only sends broadcast packets to one interface. You can choose which one, but that's not the point here.
- Windows XP sends broadcast packets to all interfaces, but it only sends them *correctly*

[2016-03-22 20:33] p30arena commented on #37
OK, I read your code, you send the discovery message over all of the interfaces.

I think it's better to edit this file, so only the main interface is involved.
what do you think?

https://github.com/lontivero/Open.NAT/blob/02419cfea2a3b923bb9efd3621a73246c70e128d/Open.Nat/Utils/IPAddressesProvider.cs

[2016-03-23 02:34] lontivero commented on #37
I'm not sure i am understanding. Do you want to modify the code in your local copy only for you or are you suggesting a modification in the library for the next version?

In case you talk about a modification in the library to be released in the next version then, could you detail a bit more why that is a good idea in your opinion?

[2016-03-23 04:37] p30arena commented on #37
I was talking about my local copy, but for the next version, I'm sure it will be great to provide more info on NatDevice class, like device's IP Address, and so on.

[2016-03-23 12:40] lontivero commented on #37
Ok, perfect. I take note. Thank you

[2016-03-24 00:25] adotout commented on #36
It looks like the network log at the time it wasn't working is fairly empty. I'm no longer able to reproduce the issue regardless of the port the router is on. It seems like my router must have been having an issue that was resolved by the reboot required to change the port from 192.168.0.1 -> 192.168.1.1.

Thanks for taking a look, closing because I can no longer reproduce.

The network log, for

[2016-03-24 00:25] #36 closed

[2016-04-13 13:53] lontivero commented on #28
fixed in 2.0.16

[2016-04-13 13:53] #28 closed

[2016-04-13 13:54] #32 closed

[2016-04-15 18:32] ecklerpa opened #38 "Open.NAT - Warning > Server failed with error: 402 - Invalid Argument"
Hey there, just wanted to report what I got when I ran your test utility incase others come across the same issue:
*_Open.NAT - Information > Start Discovery
Open.NAT - Information > Searching for: UpnpSearcher
Open.NAT - Information > UPnP Response: Router advertised a 'urn:schemas-upnp-org:service:WANIPConnection:1' service!!!
Open.NAT - Information > Found device at: http://192.168.1.1:1780/Int

[2016-04-15 19:13] lontivero commented on #38
@ecklerpa thanks for reporting this. Could you please switch the tracing feature to verbose mode and send me the output again?

use:

     NatDiscoverer.TraceSource.Switch.Level = SourceLevels.Verbose;

[2016-04-15 19:28] ecklerpa commented on #38
Sure thing... it throws the exception as soon as it gets to the 'await device.CreatePortMapAsync(new Mapping(....)' function.
Open.NAT - Information > Stop Discovery
Open.NAT - Information > GetExternalIPAsync - Getting external IP address
Open.NAT - Verbose > SOAPACTION: **GetExternalIPAddress** url:http://192.168.1.1:1780/control?WANIPConnection
Open.NAT - Information > CreatePortMapAsync - Crea

[2016-04-15 19:31] ecklerpa commented on #38
Here is some of the Output from my Visual Studio if that helps:

System.Net Information: 0 : [4400] ConnectStream#49538252 - Sending headers
{
Content-Type: text/xml; charset="utf-8"
SOAPACTION: "urn:schemas-upnp-org:service:WANIPConnection:1#AddPortMapping"
Host: 192.168.1.1:1780
Content-Length: 715
Expect: 100-continue
Connection: Close
}.
System.Net Verbose: 0 : [15756] HttpWebRequest#14421545:

[2016-05-19 12:05] mcmonkey4eva opened #39 "Open.NAT failing to open a port"
[code]

This outputs: `192.168.0.9 or 255.255.255.255 with port 28010 or 65535 as Test`.

The `PublicIP` and `PublicPort` appear to just be their individual maximum values.
Additionally, the port is not open. I connected to it through HTTP to test (The server is configured to respond to that) via `http://<my external ip>:28010`. This failed to connect, and eventually timed out. `http://localhost:2

[2016-05-20 00:16] lontivero commented on #39
@mcmonkey4eva please download this repository, build it and run the _Open.Nat.ConsoleTest_ project (you can modify it to open the ports that you want). It will create a network.log file with all the info necessary for performing a diagnostic.

[2016-05-20 01:47] mcmonkey4eva commented on #39
That got positive-looking results, and seems to be a fair bit more functional. CanYouSeeMe responds with success on viewing the port where it previously failed.
However, 1702 doesn't respond on an HTTP connection (Any TCP socket listening and rejecting connections would normally induce the browser to display an error rather than time out - which I'm not sure applies here, but it was worth trying)

[2016-05-20 03:09] lontivero commented on #39
@mcmonkey4eva I didn't find any problem in the log file, in fact it seems to open the ports well. After that, when it requests the list of open ports it is able to get the previously open ports.

On the other hand, in most cases you cannot use http://<my external ip>:<open port> for accessing to your machines in the LAN. I don't have a link to share with you but it is as i say. What you could do i

[2016-05-20 04:23] mcmonkey4eva commented on #39
That sounds like a reasonable explanation for why I can't access my own server remotely but other systems can... but what about the PublicPort/PublicIP showing wrong?

[2016-05-20 13:50] lontivero commented on #39
@mcmonkey4eva could you share your a .cs file with the code to reproduce the problem, please? Also, the Open.NAT version would be helpful.

[2016-05-20 19:56] mcmonkey4eva commented on #39
@lontivero the opening post contains my entire Open.NAT using code (dump it in a console program, swap the SysConsole call to the standard Console, swap `TheServer.Port` with `28010`), and the version is a fresh compile off this github repo.

[2016-05-20 23:06] lontivero commented on #39
@mcmonkey4eva the GetSpecificMappingAsync method receives two parameters: the protocol and the external port (PublicPort property) and for that reason it assumes you know the external port (i will treat this as a defect).

GetSpecificMappingEntry service doesn't return the external IP address (PublicIP property) and you should use the GetExternalIPAsync method for getting it. Obviously users don't

[2016-05-24 00:39] grockland commented on #39
I've noticed discovery involves a multitude of possible udp socket addresses/ServiceTypes/searchertask combinations run concurrently with a single response locus, the udp MessageReceived handler.  There are cancel mechanisms but I've found that  the following loop

while (!cancelationToken.IsCancellationRequested)
 {
          Discover(cancelationToken);
           Receive(cancelationToken);
}
req

[2016-05-24 03:49] lontivero commented on #39
@grockland this thread is for discussing a defect so please, next time open a new issue.
About your question: no, this library is for upnp and pmp. stun is out of scope.

[2016-06-09 10:54] ibpet11 opened #40 "Using Open.NAT"
Hello Sir,

I had to signup in order to get to you, glad for that anyway.
Firstly I have a remote desktop application like teamviewer, it works on same network but going over the internet I have serious issues. I downloaded the Open.NAT and add it up to my project in vb.net as dependency. I have serious issues with these two statement in vb.net. Please guide me on this.

I also believe with your O

[2016-06-10 00:58] lontivero commented on #40
@ibpet11 I don't really understand what exactly your question is. I think you don't know how to use await/async in vb.net, if that is the point you could take a look at [this](https://msdn.microsoft.com/en-us/library/hh156570.aspx)

Or, probably you are using a .NET version < 3.5. Could that be the case? What .net version are you using?

[2016-06-10 08:46] ibpet11 commented on #40
Mr Lucas,
Thank you for your response.
Honestly, I do not know how to use await/async in vb.net so I translated the c# to vb.net yet still error at that point. I used 4.5 .Net in my application.

Perhaps let me explain myself and target very well. I have a remote desktop application like teamviewer, it works on local network, but cant work over the internet so after reading much on the internet I

[2016-06-28 17:17] UmutComlekci opened #41 "NatDeviceNotFoundException Problem"
Hello,

I want to use this library in my app. But ConsoleTest app is sometimes found NAT device, most of times isn't found. What could cause of this?

[2016-07-04 03:32] lontivero commented on #40
@ibpet11 sorry for the delay in my response, i was unavailable.

Open.NAT was developed exactly for the use case that you described.

Using ILSpy i translated the ConsoleTest project from c# to VB.NET and this is how it looks like:

[code]

I hope this is what you need.

[2016-07-04 03:34] lontivero commented on #41
I need more information. Please, downlaod and run the **Open.Nat.ConsoleTest** console application and share the network.log file here.

[2016-07-04 11:40] UmutComlekci commented on #41
I run the Open.Nat.ConsoleTest but I couldn't found network.log file.

For information:
When I start to app, most of times **Test().Wait();** method throw an NatDeviceNotFound exception. But sometimes (without any change of code), it's found the device and shown me my computer Public IP. That is the my problem.

Question 2 : I want to connect of IPAddress created by **device.GetExternalIPAsync()**

[2016-07-05 04:01] lontivero commented on #41
@UmutComlekci the log file is in the same folder than the binary (.exe file). Tipically, if you run the app as it is, .\bin\debug or .\bin\release.

I need the info in that log in order to know what is really happening. Please, run it once more, review the log (and remove data that you don't want to share) and paste it here.

About your second question, you have to create a mapping as follow:
Just

[2016-07-08 08:49] ibpet11 commented on #40
@lontivero

Thank you for taking time to respond to me wonderfully.
I observe another issue and trying to debug I discovered within the Test() function above I couldnt move beyond this line "            Dim upnpNatDevice As UpnpNatDevice = Await natDiscoverer.DiscoverDeviceAsync(cancellationTokenSource)". I waited for more than half an hour to see result but all to no avail. Could it be because I

[2016-07-10 22:51] lontivero commented on #40
@ibpet11 i've cloned the full repo locally again and i've run the ConsoleTest project and it does gerenates a network.log file where the executable is located. It also prints a good amount of info in the console. I need the log file, without it there is nothing i can do.

[2016-07-20 08:03] mcmonkey4eva opened #42 "ConflictInMappingEntry giant exception"
What does this exception mean:
[code]
?

[2016-07-22 21:14] lontivero commented on #42
It means the specified external port is already assigned to another client. For more info please take a look at the [WANIPConnection:1 Service Template Version 1.01](http://www.upnp.org/specs/gw/UPnP-gw-WANIPConnection-v1-Service.pdf) -page 26-Errors section

[2016-07-22 23:16] mcmonkey4eva commented on #42
Ah, thanks.

Any chance we could get the common/expected exception messages replaced with clearer information?

IE something like "`Open.Nat.MappingException: Error 718: ConflictInMappingEntry - External port is already assigned to another client`"
and additionally, thrown at the correct level rather than 5 layers deep into in the innermost code.
So the stacktrace would be like
[code]

[2016-07-23 03:31] lontivero commented on #42
Sure, feel free to send a PR and I will merge it.

[2016-07-26 17:25] #42 closed

[2016-07-26 17:25] #40 closed

[2016-07-26 17:26] #35 closed

[2016-07-29 13:58] bartwe opened #43 "UpnpNatDevice.CreatePortMapAsync does not await retry."
UpnpNatDevice.CreatePortMapAsync (without NET35 defined) does not await the nested CreatePortMapAsync calls.

Suggested fix:

		public override async Task CreatePortMapAsync(Mapping mapping)
		{
			Guard.IsNotNull(mapping, "mapping");
			if(mapping.PrivateIP.Equals(IPAddress.None)) mapping.PrivateIP =  DeviceInfo.LocalAddress;

			NatDiscoverer.TraceSource.LogInfo("CreatePortMapAsync - Creating po

[2016-07-29 14:01] bartwe opened #44 "Dependency on TaskParallelLibrary is unneeded"
The dependency on the TaskParallelLibrary is unused on the 4.5 version and can be removed.

[2016-07-29 15:06] bartwe opened #45 "UpnpNatDevice.GetSpecificMappingAsync returns wrong protocol"
UpnpNatDevice.GetSpecificMappingAsync (without NET35 defined)

Can return mappings with a different protocol than requested.
This is likely due to router firmware bugs or it binding a portnumber and ignoring the protocol.
(Replicated with a Fritz!box 7490)

Given that the protocol is an argument to the function the result can take this value directly and log a trace noting the conflict.

Suggested

[2016-07-30 02:21] lontivero commented on #43
fixed by 0da6a049cce36d2c9cd69f4c9e86e7b24ab12d2f

[2016-07-30 02:21] #43 closed

[2016-07-30 02:23] lontivero commented on #45
fixed on 0da6a049cce36d2c9cd69f4c9e86e7b24ab12d2f- Thanks, @bartwe

[2016-07-30 02:23] #45 closed

[2016-07-30 02:39] lontivero commented on #44
@bartwe the TaskParallelLibrary is unused on the 4.5 and it is not referenced neither (I know VS lists it as a missing reference).

In the project file you can see the following reference element with a condition:

[code]

Anyway, to be sure the assembly is not referenced we can use ILSpy that show us the references in both, the 4.5 version and the 3.5 version:

![image](https://cloud.githubuserco

[2016-07-30 16:19] bartwe commented on #44
Ah ok, feel free to close this bug.

[2016-07-31 00:14] #44 closed

[2016-07-31 00:22] lontivero commented on #41
duplicated (see https://github.com/lontivero/Open.NAT/issues/34)

[2016-07-31 00:22] #41 closed

[2016-08-02 13:55] UmutComlekci commented on #34
Hello again Mr Ontivero,

I'm getting same error when I start to app with VS. But most of time when I start to exe on bin/debug/ConsoleTest.exe, app found device with there is no throwing errors.

I don't know why cannot found on VS but maybe you need check something Async Functions. Maybe some breakpoints could be causing this.

Have a good day, good works...

[2016-08-03 11:25] Neophile76 opened #47 "Catch Exception in 3.5 .Net environment"
Hi lucas thanks for your fgrat jib, you lib is really usefull for my project.

I encountering a problem to get Exception under 3.5 .NET on GUI project

[code]

[code]
The OpenPNP tasks not trigger a catch and give me an unhandled exception crash when for exemple, My router have UPNP disable.

Unfortunatly, I Can't port my code on .NET 4 or more, because I have dependency block me on 3.5

[2016-08-05 04:43] lontivero commented on #47
@Neophile76 the problem is not Open.NAT, it is the way you are implementing async operations in your example. Anyway, i've update the [Open.Nat.ConsoleTest/Main.cs](https://github.com/lontivero/Open.NAT/blob/master/Open.Nat.ConsoleTest/Main.cs) in order you can play with it and see how to catch the exceptions.

I hope it is useful for you.

[2016-08-07 20:09] duskotenkov opened #48 "Using Open.Nat on Raspberian"
The aplication is running on rapberry Pi with Raspberian. I had installed the mono framework and MonoDevelop to use the Open.Nat.

When I tried the Open:nat.ConsoleTest the application crash with error

System.EntryPointNotFoundException: SwitchToThread
  at at (wrapper managed-to-native) System.Threading.Platform:SwitchToThread ()
  at System.Threading.Platform.Yield () [0x00000] in <filename unk

[2016-08-08 13:20] lontivero commented on #48
I was able to reproduce it.  Thanks for reporting

[2016-08-09 14:37] Neophile76 commented on #47
Hello, Thanks you very much, it was very helpfull. Now I success to manage exception correctly.

[2016-08-10 03:12] #47 closed

[2016-08-10 14:54] barnahadnagy opened #49 "Raspbian crash"
This might be related to the previous issue, but I don't think so.
When trying to run an application that uses Open.Nat as a dll, it fails to find an UPNP device when running on Raspbian (Rapsberry Pi 2B, up-to-date as of 2016/8/10). It works as expected on a Windows device on the same network. Output from trace:

Open.NAT Information: 0 : Start Discovery
Open.NAT Information: 0 : Searching for: U

[2016-08-12 03:49] lontivero opened #50 "Evaluate the use of useUnsafeHeaderParsing for buggy devices"
Need to add this to app.config, else I get exception "The server committed a protocol violation. Section=ResponseStatusLine"
[code]

[2016-08-12 03:56] lontivero opened #51 "Try to reinterprete error code 402 InvalidArguments for buggy devices"
Also many routers return error **402 InvalidArguments** instead of the more specific error(s), so I had to check for **UpnpConstants.InvalidArguments in GetSpecificMappingAsync, GetAllMappingsAsync and DeletePortMapAsync** and handle it the same way as the specific error ( UpnpConstants.SpecifiedArrayIndexInvalid \ UpnpConstants.NoSuchEntryInArray).

[2016-08-12 03:57] lontivero opened #52 "Error encoding service control url"
Problem in UpnpNatDeviceInfo:

Had to change from this
[code]
to this
[code]
else I got HTTP error 404 Not found (problem with url, /control?WANIPConnection became /control%3FWANIPConnection

[2016-08-12 12:54] osexpert commented on #51
Mayby only allow 402 for GetAllMappingsAsync as end of enumeration. The other methods can simply be wrapped in a try\catch by external code, without loss of function.

[2016-08-14 01:36] lontivero commented on #52
it was fixed in commit 790b407481fe3dc876ceee00461626a452f27d32  for issue 22 [Error when Service control urls have question marks](https://github.com/lontivero/Open.NAT/issues/22)

[2016-08-14 01:36] #52 closed

[2016-08-14 02:33] lontivero commented on #50
I've found many people reporting problem with upnp devices that response with malformed messages. Here an example:
http://www.help-doing.com/sm/httpclient-throws-previously-well-known-exception-quotthe-server-committed-a-protocol-violation.shtml

Sadly, there is no way to set the useUnsafeHeaderParsing switch just for Open.NAT HttpClient instances. This means that the host applications can turn it

[2016-08-14 02:33] #50 closed

[2016-08-14 02:40] lontivero commented on #51
This problem was fixed on commit 4bad61969c728e66fadd027dc4382a3db1d0ff60
[Fix defect #24 - GetSpecificMappingAsync under DD-WRT returns errorcode 402.](https://github.com/lontivero/Open.NAT/commit/4bad61969c728e66fadd027dc4382a3db1d0ff60)

[2016-08-14 02:40] #51 closed

[2016-08-20 08:59] alivegames opened #53 "net20 support"
hi, i'm a unity3d user and it only supported net20, i can't use System.Threading.Tasks.
is any idea to solve this problem?

[2016-08-21 04:59] lontivero commented on #53
There are no plans for rewriting the library for versions before 3.5.

[2016-08-21 04:59] #53 closed

[2016-09-17 21:57] ecklerpa commented on #38
So I updated my routers firmware to resolve this issue.
I have a linksys E3000.
Updated the Firmware to Version: 1.0.06

[2016-09-19 19:05] ecklerpa opened #55 "Open.NAT Warning: 0 : Server failed with error: 714 - NoSuchEntryInArray"
<b>I'm able to CreatePortMapAsync with no problem and even show the routers table via a GetExternalIPAsync call...</b>
Open.NAT Information: 0 : Start Discovery
BEGIN!
Open.NAT Information: 0 : Searching for: UpnpSearcher
The thread 0x3734 has exited with code 0 (0x0).
Open.NAT Information: 0 : UPnP Response: Router advertised a 'urn:schemas-upnp-org:service:WANIPConnection:1' service!!!
Open.NAT

[2016-09-19 20:01] ecklerpa commented on #55
Oddly when I use the Mono.Nat dll and create the same functionality I can create the port mapping and delete with no problems

[2016-09-20 02:46] lontivero commented on #55
@ecklerpa the error 714 is not an Open.NAT error. It is the router which return the error and Open.NAT throws it.

Could you provide a piece of code to reproduce it?
Coud you run the ConsoleTest console application and share the **network.log** file?

Thank you.

[2016-09-25 06:18] Mailaender opened #56 "Open.Nat.ConsoleTest: Stream does not support writing"
[code]

I don't really understand this error otherwise I would have come up with a fix.

[2016-10-11 18:11] lontivero commented on #56
Thanks for reponting this issue. I will take a look at it as soon as possible. This defect is not in the library but in the ConsoleTest Application it seems.

[2016-10-15 15:56] timothyparez opened #57 "Unhandled Object DisposedException (NetworkStream) on ARM"
On an x86/x64 machine with .NET or Mono the following code works:

[code]

However, the same code on ARM with .Mono (tested 4.3 and 4.6) will output an error on:

`var device = await discoverer.DiscoverDeviceAsync(PortMapper.Upnp,
                               new System.Threading.CancellationTokenSource());`

And throw an exception on:

`var ip = await device.GetExternalIPAsync();`

This occurs

[2016-10-16 14:26] timothyparez commented on #57
With the latest source from the master branch it runs on ARM.
It outputs the message:

`Got a bad hardware address length for an AF_PACKET 16 8`

Five times when calling `DiscoverDevicesAsync`,
after that the call to `GetExternalIPAsync` actually returns the proper address.

[2016-11-10 19:20] maxpa1n87 opened #58 "UPnP discovery enabled in my router(Fritz!Box 7360) but openra using Open.NAT throws exception"
Open.NAT Information: 0 : Start Discovery
Open.NAT Information: 0 : Searching for: UpnpSearcher
Open.NAT Information: 0 : UPnP Response: Router advertised a 'urn:schemas-upnp-org:service:WANIPConnection:1' service!!!
Open.NAT Information: 0 : Found device at: http://192.168.178.1:49000/igddesc.xml
Open.NAT Information: 0 : 192.168.178.1:49000: Fetching service list
Open.NAT Information: 0 : Found

[2016-11-10 19:26] lontivero commented on #58
It couldn't find a router in time. Is this a one-time error or does it fail always?

[2016-11-10 19:32] maxpa1n87 commented on #58
Every time I try to run openra and using the multiplayer function of the game I think. openra tells me that my router does not support UPNP but it surelly does. See the specs https://avm.de/produkte/fritzbox/fritzbox-7360/technische-daten/ (German language, maybe google will translate it for you :) )

[2016-11-10 19:39] maxpa1n87 commented on #58
You are welcome. I will do my best to help you.

[2016-11-11 07:00] maxpa1n87 commented on #58
Hi lontivero. It seems that it is a problem using mono 3.5.x. I just upgrade to mono 4.6.1. Now the nat.log seems to print that everything is correct.

`Open.NAT Information: 0 : Start Discovery
Open.NAT Information: 0 : Searching for: UpnpSearcher
Open.NAT Information: 0 : UPnP Response: Router advertised a 'urn:schemas-upnp-org:service:WANIPConnection:1' service!!!
Open.NAT Information: 0 : Foun

[2016-11-11 13:58] lontivero commented on #58
Excellent. Thank you!

[2016-11-11 13:58] #58 closed

[2016-11-11 14:23] #38 closed

[2016-12-14 10:14] behzad62 opened #59 "Error code 720-InvalidDeviceUUID"
Hello,
I found out  Dlink DSL-2749U returns 720-InvalidDeviceUUID while Calling "GetAllMappingsAsync" and "DeletePortMapAsync" methods.
For "GetAllMappingsAsync". it happens when index goes out of range and for "DeletePortMapAsync", it happens when the given mapping entry is not found.
I wonder how many devices are out there which return unexpected error codes.

[2016-12-23 20:19] RoosterDragon opened #60 "Don't log from the finalizer"
See OpenRA/OpenRA#12450.

We get an unhandled `ObjectDisposedException` during our process shutdown. This is because we attach a `TraceListener` that writes to a file. The underlying stream gets finalized before your finalizer tries to run and [attempts to log](https://github.com/lontivero/Open.NAT/blob/e44757f477b7bf5a78cd05b7359ac34eb46bf7b9/Open.Nat/Finalizer.cs#L32).

This would be fixed by si

[2016-12-24 20:35] mcmonkey4eva opened #61 "Error 402: invalid args"
Here's an interesting error a user got during routine use of my program (Which opens a port publicly as a default action, regardless of whether that port is immediately used)
[code]

[2016-12-26 15:22] lontivero commented on #60
@RoosterDragon that is not the only line that writes in the log. That's why the fix is not so easy as not logging there.
I have a fix 323587c09e284cbb688519818f3f33caa2bca875. It will solve the problem that your users see. Let me know if you find something wrong with it.

I also have a couple of defects to fix before to release a new nuget package version, I hope to be able to do that this week.

[2016-12-26 15:26] lontivero commented on #56
@Mailaender please see the commit https://github.com/lontivero/Open.NAT/commit/323587c09e284cbb688519818f3f33caa2bca875. I close this issue because there is another (newer) reporting the same thing. https://github.com/lontivero/Open.NAT/issues/60

[2016-12-26 15:26] #56 closed

[2016-12-26 15:30] lontivero commented on #57
@timothyparez thanks for reporting this issue, i didn't have the time to review it on time. Currently I've found the time to fix defects and would like to know if you have more info about this problem.

[2016-12-26 15:40] lontivero commented on #61
The router doesn't accept the request because it is not valid. It can be because the port is already opened, because the specified host is wrong or not allowed, etc.

[2016-12-26 15:49] lontivero commented on #59
Thanks for reporting this issue @behzad62. It seems there are lots of devices that return whatever error code they want instead those in the specs. I will be working on this soon.

[2016-12-27 14:53] timothyparez commented on #57
There's not much info beyond this.
I just tried again with the latest commit from this repo and Mono 4.6.2
`(stable 4.6.2.7/08fd525 Thu Dec 15 17:03:19 UTC 2016)`

Sometimes the output is similar to:

[code]

Other times it will actually throw the exception

[code]
And this only happens on ARM and tested on 2 different networks with different routers.
Let me know what I can do to help.

[2016-12-27 16:06] timothyparez commented on #57
If you need help setting a RaspberryPi or other ARM device for this, let me know.
If you have a RaspberryPI but don't have time to compile everything (takes quite long),
I could push a docker image to docker hub, you'd have to use [HypriotOS](http://blog.hypriot.com/) then though.

[2017-01-04 09:52] RoosterDragon commented on #60
I can live with that solution, although it has the downside that if we erroneously passed in an already-disposed logger, instead of getting an exception we now silently won't do any logging. I still think you'd be better of just not logging from finalizers myself.

[2017-01-10 13:49] sheindel opened #62 "Incorrect default parameter on constructor"
This constructor claims to create a permanent mapping but it passes `int.MaxValue` which creates a 10 minute mapping. Needs to be changed to `0` be consistent with summary as well as other default constructor values. Mapping.cs, line 189-190

[https://github.com/lontivero/Open.NAT/blob/master/Open.Nat/Mapping.cs#L190](url)

[code]

Should be

[code]

[2017-01-24 19:20] robochase6000 opened #63 "SocketException running console test"
seeing this error spam ~6 times or so when i try running the open.nat console test  - disregard the exact line numbers because i have some other logs in there currently, but this is the line it's failing on in PmpSearcher -

`client.Send(buffer, buffer.Length, gatewayEndpoint);`

`
Open.NAT - Error > System.Net.Sockets.SocketException (0x80004005): The system detected an invalid pointer address in

[2017-01-27 22:38] asxtecnologia opened #64 "Open.NAT Raspbian Open.Nat.NatDeviceNotFoundException"
I am using Open.Nat running on Raspberry PI Raspbian Linux, however it does not find my router and raises the exception below.
When I run the same code on Linux it works fine. I use the .NET Framework 4.5.

Exception of type 'Open.Nat.NatDeviceNotFoundException' was thrown. StackTrace:  at Open.Nat.NatDiscoverer+<DiscoverDeviceAsync>d__5.MoveNext () [0x00000] in <filename unknown>:0
--- End of sta

[2017-02-16 02:30] Codeusa opened #65 "Device Friendly Name"
Is possible to get a routers friendly name or model information using the current library?

[2017-02-16 04:34] lontivero commented on #65
No, it is not possible.

[2017-02-16 04:34] #65 closed

[2017-03-16 02:35] h3david commented on #64
Hi,

Sorry I can't help but I have 2 questions:

- How did you managed to make it work on Raspbian ? (Mono ?, .NetCore ?)

- Is your issue solved ?

Thanks

[2017-03-16 11:38] asxtecnologia commented on #64
Hi. Not solved.
Mono.

Thanks

[2017-05-04 17:37] sheindel opened #66 "Incorrect ServiceType from Netgear WNR2000v5"
Netgear WNR2000v5 reports the following to SSDP response

[code]

And the following router device list response

[code]

When calling GetAllMappingsAsync(), the following data is returned

[code]

As can be seen, the ServiceType that is returned with the mapping is `urn:schemas-upnp-org:service:WANIPConnection:1`

But when the UPnP device info was set up, it found ServiceType `urn:schemas-upnp-org

[2017-05-09 04:39] lontivero commented on #66
@sheindel thanks for reporting this issue.

When we send a SDDP query, the `ST` header specifies the *Service Type* we are looking for. That means that any discoverable server that offers that service type has to respond with the an url to the device definition (containing its list of services).

What I see here is that your server responds with a *Hi, i provide the kind of service that you are lo

[2017-05-10 14:18] lontivero commented on #62
Fixed in 6d54c86767578647f41ebea36c265ad6c7a7b107

[2017-05-10 14:18] #62 closed

[2017-05-10 14:19] #60 closed

[2017-05-22 13:38] sheindel commented on #66
Here is the exact rootDesc.xml. The framework chooses  WANIPConnection:1 when we in fact get WANPPPConnection:1

So again, either the SSDP server or the UPnP server is reporting the wrong service type... I might just implement a workaround for now that uses the ServiceType from the SSDP server as a fallback.

Open to other suggestions.

[code]

And here is an snippet response of one of the port ma

[2017-05-22 14:48] lontivero commented on #66
I think that by the moment you can do what you say: use the ST from de SSDP as fallback or, use the one in the response. In pseudocoude:

[code]

For a better solution I have to review the miniupnpd server code in order to understand why it behaves as it does.

[2017-06-23 07:47] Soahr opened #67 "Using it in Unity"
Don't understand how to use it with Unity.
Tasks doesn't exist in .net 3.5 so ?

[2017-06-23 15:51] lontivero commented on #67
Open.NAT compiles and works okay with .NET 3.5. You can clone the repo, select a configuration for 3.5, build it and run it. It has a reference for the TaskParallelLibrary package that provides the Task class.

[2017-06-23 15:53] Soahr commented on #67
Oh ok, thank you, just tried to use it as DLL before ...
Thank you very much, nice work !

[2017-06-23 15:53] #67 closed

[2017-07-29 19:21] MiguelRipoll23 opened #68 "Support for UWP"

[2017-08-03 09:42] mavanmanen opened #69 "Cannot open ports"
Logfile attached from the consoletest app
[network.log.txt](https://github.com/lontivero/Open.NAT/files/1196714/network.log.txt)

[2017-08-03 09:54] mavanmanen commented on #69
Well, easy fix for me, the access port on my router for UPnP was 5000, which was also used by another rule, thus the calls were forwarded through there. Disabled that rule and it was working perfectly.

[2017-08-03 16:38] #69 closed

[2017-08-03 16:51] lontivero commented on #63
Open.NAT tries to send SSDP messages to all the existing interfaces, many of those could fail with that error. However, it should find your device anyway. Please, send me the network.log file to review what the problem can be.

[2017-08-03 16:51] #61 closed

[2017-08-18 03:48] danielgerlag opened #70 "MappingException: Error 729: ConflictWithOtherMechanisms"
Hi,

I am unable to map any ports, I always get this error
[code]

[2017-08-20 03:17] lontivero commented on #70
That's not an Open.NAT error message, it is an error received from your router and for that reason you won't be able to use any upnp library.

This is what the UPNP:WanIPConnection service specification says:

It seems that your router has another mechanism for mapping ports which is in conflict with UPnP IGD. You should log into your router and review its configuration in order to change whatever

[2017-08-20 04:00] danielgerlag commented on #70
Not true, I have applications on my network using upnp. Do you have a list of routers that your library is compatible with?

Sent from my iPhone

[2017-08-20 05:29] lontivero commented on #70
I don't have a list of routers. The library implements the [specifications](http://upnp.org/specs/gw/UPnP-gw-WANIPConnection-v2-Service.pdf) so, it should compatible with routers that implement them too.

If you have other applications doing port forwarding with upnp the, the conflict could be in one specific port, and not with all of them. Anyway, Open.NAT is simply the messager. Your router comp

[2017-10-18 04:35] phcs93 opened #71 "UPnP and .NET Sockets"
I am making a simple chat application using .NET Sockets.

The host socket needs a specific TCP port (let's say 8501) to be forwarded in order to properly accept any incoming connections.

When I manually go to my router and open that port, the host socket works perfectly. Client sockets can connect to it and begin sending packets.

Now I want to automatically forward that port, so I found out abo

[2017-10-19 13:19] TrabacchinLuigi commented on #37
I Absolutelly agree, having the device local ip is essential

[2017-10-19 14:49] lontivero commented on #71
I could help you only if there is a problem with the library (it seems is not the case). Anyway, modify the ConsoleTest project to forward the port and share with me the network.log file in .\bin\debug

Also, use an online tool for verifying if the port is really open. It could sound redundant but just to be sure.

[2017-10-21 15:36] phcs93 commented on #71
Hello, thanks for the quick answer.

Here is the network.log: https://gist.github.com/phcs93/b14caee405faf0b1684aec28f360b29d

I simply modified one line in ConsoleTest.NatTest.Main

From
`var t = nat.DiscoverDeviceAsync(PortMapper.Pmp, cts);`

To
`var t = nat.DiscoverDeviceAsync(PortMapper.Upnp, cts);`

Also, the online tools for checking port forwarding (canyouseeme.org for example) doesn't seem

[2017-10-23 01:27] lontivero commented on #71
I cannot see anything wrong in the log file. It seems the mappings were created okay, with no errors and you were able to list them after creation. The router could be misbehaving or there is another problem but the library seems to be working as expected.

Do yo have more that a router?

[2017-10-23 13:36] phcs93 commented on #71
Yes, I have a modem and a router. But the modem is simply configured as bridge.

[2017-10-23 14:20] lontivero commented on #71
Is your modem IP 192.168.0.1? If yes then the library is forwarding the ports in your modem instead of doing it in your router.

[2017-10-23 20:39] phcs93 commented on #71
Nope, my modem is configured as bridge and its IP is 192.168.0.**100**

192.168.0.**1** points to my router

[2017-11-11 12:19] Eideren opened #72 "Very long device discovery"
Device discovery works but its duration is very inconsistent and takes often a very-_very_ long time before reporting the device. It falls anywhere between 10 seconds and **_500_** seconds.

If I run 5 instances of device discovery concurrently, the first one to find the device (not always the first one to run) reports back between 5 and 30 seconds later, while better than the first result, it is

[2017-11-22 09:48] Airborne76 opened #73 "Would you kindly support UWP......"
......if Microsoft allow Port Mapping ?

[2017-11-22 18:02] TrabacchinLuigi opened #74 "Very high CPU usage"
I've noticed a very high cpu usage in an app we are developing so got my profiler on and i discovered this:
![image](https://user-images.githubusercontent.com/136717/33142520-25ca5180-cfb7-11e7-984b-de489758bd09.png)
any suggestion what it might be ?
We have a timer every 30 seconds that checks if upnp is still set (maybe someone shut down the modem, maybe someone restarted just upnp... who knows)

[2018-01-01 08:02] Moatassem commented on #59
Hello,
Same here with with LogN routers, I get 720-InvalidDeviceUUID

[2018-01-27 20:55] Codeusa opened #75 "Unobserved Task Exception"
[code]

[2018-02-25 16:14] carldebilly opened #76 "Crypto-currency address on README should specify which currency :-)"
If any would like to send you something, would be nice to know the currency to use.

[2018-05-31 20:05] DigDugFTW opened #78 "Adding mapping with lifetime 0"
Adding a mapping with lifetime 0 works once mapped, but when the mapping collection is enumerated it throws an "ArgumentOutOfRangeException" stating that lifetime was out of range of valid values.

I created a mapping a couple of hours ago, the mapping doesn't last infinitely and can be over written.

I only created a mapping with lifetime 0 because intellisense stated that for the lifetime parame

[2018-06-01 05:27] lontivero commented on #78
(1) Open.Nat doesn't control what your router does, your router's software does it. The library simple performs a request to your router's http server for opening a port, how it handles the request and what it does after that is out of the library control and is different from router to router. The spec says that a lifetime=0 should keep the port opened.

(2) Yes, it can be over written, otherwise

[2018-06-05 19:16] nathan130200 commented on #72
Same here with ZyXel. Long time without a response. and UTorrent make port mapping in less than 5 seconds.

[2018-06-05 22:15] seancabahug opened #79 "Error 501 - PAL_UPNP_SOAP_E_ACTION_FAILED"
Couldn't seem to spot a solution on here. Here's the log file from the ConsoleTest app:
[network.log](https://github.com/lontivero/Open.NAT/files/2074179/network.log)

The only change I've made was modifying this line:
`var t = nat.DiscoverDeviceAsync(PortMapper.Pmp, cts);`
to
`var t = nat.DiscoverDeviceAsync(PortMapper.Upnp, cts);`

[2018-06-06 16:39] lontivero commented on #79
What Open.NAT are your using? I fixed a similar defect https://github.com/lontivero/Open.NAT/issues/28.

The log says everything works okay until you request the list of open ports and it fails because the router doesn't find the port number 0.

[2018-06-06 18:09] seancabahug commented on #79
I'm using version 2.1.0.0 according to the reference properties.

[2018-06-06 18:36] lontivero commented on #73
No, but I would accept PRs

[2018-06-06 18:41] lontivero commented on #74
I will take a look at this in a couple of weeks. In order to know what it could be I need the network logs.

[2018-06-30 11:52] Mailaender opened #80 "Server failed with error: 606 - Unknown Error Code"
This happens with @OpenRA and a Fritz!Box 7490.

[code]

According to https://tools.ietf.org/html/rfc6970 606 means action not authorized. The router however has UPnP port forwardings set to allowed.

[2018-07-01 16:15] masterjian opened #81 "“Open.Nat.ConsoleTest” in debug mode received an error!"
Open.NAT Information: 0 : Searching for: PmpSearcher
System.Net.Sockets Error: 0 : [5184] Socket#10210506::UpdateStatusAfterSocketError() - Fault
“Open.Nat.ConsoleTest.vshost.exe”(CLR v4.0.30319: Open.Nat.ConsoleTest.vshost.exe): 已加载“C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\System.resources\v4.0_4.0.0.0_zh-Hans_b77a5c561934e089\System.resources.dll”。模块已生成，不包含符号。
System.Net.Sockets Error: 0 : [51

[2018-07-16 22:30] JJakaJonas opened #82 "Only one port open after Port renewel"
Hello.
I have tryed to build a console application to open specific ports on a router.
I have at the moment port 3389 both as UPD and TCP.

At application start both ports opens as programmed. but after end lifetime and a renewel only one of the ports are open...
This is my code:
`namespace Auto_open_UPnP
{
    class Program
    {
        public static void Main(string[] args)
        {

[2018-07-16 22:36] JJakaJonas opened #83 "Can't open uPnP ports on my router."
Hello.
I have an huawei HA35 router.
It's a hybrid thing. It have a DSL and a LTE connection that it bonding together to one connection.
But the thing is that this code ``

[2018-07-20 23:53] FIVIL opened #84 ".net core"
can Open.NAT be used in .net core as well???

[2018-07-21 04:59] lontivero commented on #84
Currently it is not compiled for .net core. You can compile it for .netcore and make a PR.

[2018-08-12 21:16] lontivero commented on #83
This issue doesn't provide any kind of information. I need tt least the log file.

[2018-08-12 21:19] lontivero commented on #82
Could you provide the steps to reproduce it? log files? error messages?

[2018-08-12 21:30] lontivero commented on #80
@Mailaender thanks for reporting issues. As you can see this error is returned by the router and Open.NAT simply informs the caller about it with an Exception.

Anyway, this can be because already exists a port mapping for `Tcp 1234 --> 192.168.178.33:1234 (OpenRA)`. This should be easy to reproduce, just create the same mapping twice ant check that the second one fails.

From my side I just can v

[2018-10-01 16:01] abouAlAbass opened #86 "wrong external ip obtained?"
the library sometimes give me right external ip and the  other times it give me wrong external ip
and i dont understand why ?

Your IP: 192.168.225.100
Added mapping: 192.168.225.100:1700 -> 127.0.0.1:1600

+------+-------------------------------+--------------------------------+------------------------------------+-------------------------+
| PROT | PUBLIC (Reacheable)           | PRIVATE (Your c

[2018-10-01 21:13] lontivero commented on #86
I don't understand the table. There are no public addresses.

[2018-10-02 08:03] soufianeBenRahim commented on #86
I noticed that sometimes it manages to recover the correct IP external address, and when I debug the API I noticed that the problem is in the line
var device = await nat.DiscoverDeviceAsync (PortMapper.Upnp, cts);
when it retrieves the ip external address it sends a soap request to an adrese local ip 192.168.1.130 normally it must send and the request soap to the address 192.168.1.1 in this case i

[2018-10-02 15:54] abouAlAbass commented on #86
when we use the api for the first timee we get correct external ip address ex : "105.104.36.154" but after expiring and relunch the sampleApp we get  a new ip adress:"192.168.225.100", so we can not reach the port already opened , please reply

[2018-10-02 18:34] lontivero commented on #86
@abouAlAbass I will take a look at this issue during the weekend. You can help simple setting a breakpoint in the line following line and see why it is using the private ip address instead of the public one.
https://github.com/lontivero/Open.NAT/blob/328b6eebdbaa0bccf968ad43dc698cb768a94a5c/Open.Nat/NatDevice.cs#L213

[2018-10-11 16:06] eugeniomiro commented on #50
Hi @lontivero, I found your link to be broken right now, could you please point to a fixed one or to the actual sample? Thanks!

[2018-10-11 16:20] lontivero commented on #50
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/e277643f-34d6-4d83-a15b-75301457059b/httpclient-throws-previously-well-known-exception-quotthe-server-committed-a-protocol-violation?forum=winappswithcsharp

[2018-10-18 17:39] JJakaJonas commented on #83
Was not able to make one and I do not have the application any more.

[2018-10-18 17:41] JJakaJonas commented on #82
Made the code above in vs C#, ran it and checked the router.
No error message .

[2018-11-06 18:08] #68 closed

[2018-11-09 02:45] haikushisui opened #88 "Search Task bug"
hi

I found a non expected error in Searcher.cs.
The Search method hung because of the receive function around line 110
`
var buffer = client.Receive(ref receivedFrom);
`

This cause the async Search method to never end  meaning no devices will be returned by the DiscoverAsync method.

I went ahead and add a try catch in Search method like that
[code]

Hope it can help

[2018-11-09 11:03] haikushisui commented on #88
hi

Sorry for the double post
Just to precise I did the changes locally
I didn't throw a pull request because this is a quick fix I'm sure you guys will come up with a better solution

take care

[2018-11-10 20:34] aaronsace commented on #84
@FIVIL It works on .Net Core but @lontivero just needs to update the project file.

https://github.com/lontivero/Open.NAT/pull/85/files

[2018-12-08 13:37] meverett opened #89 "Automatic renew does not work as expected"
The automatic renewal of mappings does not seem to work as expected. First, it would be helpful somewhere on the wiki or readme to quickly explain how automatic renewal works behind the scenes which I only figured out by poking around the code:

- Autorenew routine runs as a separate task/thread.
- It is updated by a static Timer in NatDiscoverer
- It only works for mappings created as "session" a

[2018-12-08 14:38] meverett commented on #89
Seems like the session based lifetime (int.MaxValue) worked!  A little bit more testing need to verify. So I guess that puts things back on my router then with things becoming permanent. Strange that with shorter lifetimes, many in a row, and it I guess it just decides, "stop spamming me, you just get a permanent session!"

[2019-03-30 23:23] #84 closed

[2019-05-08 02:41] kevinlai9527 opened #90 "The CancellationTokenSource conflict in Framework 4.0"
I created a Framework 4.0 WinForm application, and add OpenNAT by Nuget. And add sample code in Form Load events:

[code]

The VS report the following error during compilation.

_The type or namespace name 'CancellationTokenSource' could not be found (are you missing a using directive or an assembly reference?)_

If I add the reference to System.Threading, it will report another issue:

_The type

[2019-06-01 20:43] Tirraon opened #91 "Nuget package is out of dated"
Open.Nat on nuget was last updated at 30.07.2016.
And .Net Standard support was added only in 2018, so we can't use this lib in .Net Core using NuGet package.

[2019-07-09 20:05] laurentksh commented on #90
Hello,

This issue has nothing to do with Open.NAT.
However, for those reading this, the fix is to put the following in your usings:
`using CancellationTokenSource = System.Threading.CancellationTokenSource;`

[2019-12-04 18:39] salokinsomisa opened #92 "Question regarding carrier-grade NAT"
Hello, I'd like to ask if support for Carrier-grade NAT and PCP are included in this implementation. I'm asking this because I've been trying to use Open.NAT to port-forward a device that I own and the external IP I'm getting from Open.NAT is different from the one I'm getting if I search for my IP in a browser. The uPnP rule is added to my router, but the port seems closed ( It probably has to do

[2019-12-05 15:37] salokinsomisa opened #93 "The thread hangs on CreatePortMapAsync"
I've tested in various routers, two of them have shown this specific behavior, but one of two sometimes manages to continue. Upon calling await CreatePortMapAsync, the thread completely blocks, awaiting for the operation to finish. Is it possible there is something wrong and it just takes too long? I've left it for 5 minutes and nothing's happening. Posting the log file and a screenshot of the con

[2019-12-05 22:16] salokinsomisa commented on #93
This was happening due to the first device being discovered having a LinkLocal IPv6. The CreatePortAsync would then construct a message to port forward that had that IP, which would result in the Server failed with error: 402.

As it was, you can escape the hanging of the thread by catching the Exception (duh, that was bad of me). In order to find the correct device though, one would need to check

[2019-12-05 22:16] #93 closed

[2019-12-13 17:43] lontivero commented on #91
Feel free to send a pull request for that, I will merge it asap.

[2019-12-13 17:50] lontivero commented on #92
No sure I understand the question. Are you asking if you can open a port in somebody else's routing infrastructure as your ISP or your ISP's ISP? In that case the answer is: no, you can only operate on your own infrastructure components.

[2019-12-14 14:12] salokinsomisa commented on #92
I just found that in some cases, the public IP and the WAN IP are different. The WAN IP of my computer is a private one and I read that Carrier-grade NAT is probably behind. Though port-forwarding works, the computer is not accessible through the internet since it's behind a private WAN. I read that the PCP (Port Control Protocol) or its predecessor the NAT-PMP could solve this problem and I poste

[2019-12-15 16:08] Tirraon commented on #91
@lontivero how can I upload new version of Open.NAT to nuget with pull request?
Account holder should to rebuild package and upload it, as I understand.

[2019-12-15 16:13] lontivero commented on #91
I will upload the package but I don't have time to create the package and test it.

[2019-12-23 09:32] jianmingyong opened #94 "Finalizer will not run in .Net Core builds, becareful and remember to manually call them."
Ever since .Net Core changed the behavior of finalizer, it will never release the ports on time. To be safe, users have to call `NatDiscoverer.ReleaseSessionMappings();` manually to ensure it is properly released.

Sadly this break the last failover ditch effort some people may expect it to work. Of course there is still a workaround with this using:
AppDomain.CurrentDomain.ProcessExit event. Only

[2020-03-03 18:38] Mailaender commented on #80
Had to got to http://fritz.box/?lp=portoverview and allow the host specifically. Sorry, my bad.

[2020-03-03 18:38] #80 closed

[2020-03-27 21:31] lontivero commented on #94
Yes, you are right, thank you.

[2020-03-31 07:55] leopreuss opened #95 "GetExternalIPAddress sometimes fail"
When searching for NAT devices (`DiscoverDeviceAsync` method) results can be out of order. That is, sometimes IPv6 device is returned instead of IPv4.

This happens because `DiscoverDeviceAsync` method always return the first element in devices found list. But the list order is unpredictable since you cannot know which device will respond first during discovery. So, `GetExternalIPAddress` fails on

[2020-05-21 00:11] chilipepperhott opened #96 ".NET Core Support?"
I was wondering if this library supports .NET Core? I want to use it in a project.

[2020-05-21 00:59] maxkatz6 commented on #96
It does, but only if you use master branch. NuGet version is out of dated and doesn't support it.
https://github.com/lontivero/Open.NAT/issues/91

[2020-05-21 03:24] lontivero commented on #96
I have no time available for this project right now but I would be happy to accept pull requests. In case someone wants to make the changes to the nuget spec file I can publish the a new package.

[2020-05-21 19:25] chilipepperhott commented on #96
I attempted to build the master branch on my machine and got this error: [Here](https://pastebin.com/34mKqLiB)

[2020-05-27 16:32] FreekDS opened #97 "Open.NAT and ASP.NET"
## The problem

I am writing a small web service application using ASP.NET. I want this web API to be visible from outside a home network (behind NAT). The problem is that the user I'm writing this program for, has no access to change his router. Creating a portforwarding rule in the router configuration is no option.

As a solution to this, I tried to use UPNP with the Open.NAT framework. Sadly I

[2020-05-27 17:29] lontivero commented on #97
You are not providing anything that can help me to help you. Could you post the Open.NAT log file?

--------------

I would also suggest to map using the same port with a higher port, for example:

[code]

Once you have this just listen in that port with `nc`:

[code]

and then hit that endpoint from **outside of your LAN** (using your cellphone data plan, for example) and check if it was reached.

[2020-05-27 18:41] FreekDS commented on #97
Thanks for your fast reply! Where can I find the Open.NAT log file?

[2020-05-27 23:52] lontivero commented on #97
You have to enable the logging. https://github.com/lontivero/Open.NAT/wiki/Troubleshooting

[2020-05-28 14:40] FreekDS commented on #97
I have followed your advice and changed the mapping entry to
[code]
I also enabled logging. The generated log contains the following:
[code]
(note: the last lines of logging are generated by my ASP.NET application)

I then used  the `nc -l -p 15000`. When I use the [canyouseeme](https://canyouseeme.org/) tool to check if port 15000 is open, I get result from the nc command. But when I want to hit

[2020-05-28 16:49] lontivero commented on #97
Open.NAT opened the port successfully. You have verified that fact when after using https://canyouseeme.org/ you saw some output in the `nc`, otherwise there is no way an external service can hit a process in your machine.

I think you are probably making a mistake in your ASP application. Make sure to listen in the correct port and with the correct prefixes. It is a common mistake to listen on 12

[2020-05-28 16:53] FreekDS commented on #97
Ok, no problem, thanks for your time and help.

[2020-05-28 16:53] #97 closed

[2020-06-08 13:08] SnakePin opened #98 "Task.WhenAll throws when a searcher task completes while others are running"
https://github.com/lontivero/Open.NAT/blob/328b6eebdbaa0bccf968ad43dc698cb768a94a5c/Open.Nat/NatDiscoverer.cs#L196

this line throws an exception that says `Task cancelled` if a searcher task finds a device before the other task quits.

[2020-07-04 15:12] doamatto commented on #96
@chilipepperhott Based on the error, you don't have .NET 3.5 installed. You can install it based off this guide [in Microsoft docs](https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows-10#enable-the-net-framework-35-in-control-panel)

[2020-08-17 06:16] AgentSmithers opened #99 "upnpNatDevice = NatDiscoverer.DiscoverDeviceAsync.Result ...... never returns"
Hi Everyone, Apologies if this is the incorrect place to seek assistance. If it is can you please point me in the correct direction.
If this is the correct place, the following code below seems to execute 100% correct in a Console base 3.1 Core app and Framework 4.5 Console but for Framework 4.5 Forms it seems to freeze on the DiscoverDeviceAsync line and never returns, not even a timeout? Is ther

[2020-08-17 14:15] lontivero commented on #99
This has nothing to do with Open.NAT, you have a well-known deadlock because you are locking in a WinForm application that needs to synchronize back with the UI synchronization context. Google it.

[2020-08-17 14:15] #99 closed

[2020-12-07 08:47] jespertheend commented on #89
Thanks for this! Took me a while to get this to work, but `await device.CreatePortMapAsync(new Mapping(protocol, port, port, int.MaxValue, description)` worked.

[2020-12-16 21:33] lucasmontec commented on #95
Would you be able to share your solution?

[2021-01-17 09:50] manutoo opened #100 "CreatePortMapAsync() fails with IPv6 router, with Error 600: Argument Value Invalid"
My ISP is Orange, with a LiveBox v4 router by Sagem.

When using DiscoverDeviceAsync, it returns the router with its IPv6 address.

Trying to open port with the IPv6 fails likely because the router doesn't accept local IPv6, but only IPv4 ones.

To fix that, I had to do in DiscoverDeviceAsync():
1) changed:
var devices = await DiscoverAsync(portMapper, true, cancellationTokenSource);
to:
var devic

[2021-01-17 09:55] manutoo commented on #95
@lucasmontec :

Here's mine : https://github.com/lontivero/Open.NAT/issues/100

[2021-02-13 02:58] RaulS0sa opened #102 "Open.NAT 2.1.0 is not compatible with monoandroid90"
I was trying to add it to a xamarin project, got unsuccessful with
Package Open.NAT 2.1.0 is not compatible with monoandroid90 (MonoAndroid,Version=v9.0). Package Open.NAT 2.1.0 supports:
  - net35 (.NETFramework,Version=v3.5)
  - net45 (.NETFramework,Version=v4.5)

also wanted to ask if the project's dead, it seems that somethings haven't been updated in a while

[2021-02-13 03:55] RaulS0sa commented on #102
I forked the project and added as a reference, to the issue triger is now irrelevant for me

[2021-02-13 03:55] #102 closed

[2021-03-29 06:56] ali-hm opened #103 "ConsoleTest Exception on Windows 10"
Here is the result of running console test on windows 10 20H2.

Open.NAT Information: 0 : Start Discovery
Open.NAT Information: 0 : Searching for: PmpSearcher
System.Net.Sockets Error: 0 : [7956] Socket#6044116::UpdateStatusAfterSocketError() - Fault
System.Net.Sockets Error: 0 : [7956] Exception in Socket#6044116::SendTo - The system detected an invalid pointer address in attempting to use a poin

[2021-06-15 03:07] PhantomGamers commented on #71
I know this is an old post but did you ever find a solution to this issue?

I'm trying to use Open.NAT along with websocket-sharp for networking in a Unity game and I'm running into the same issue.

The port is properly forwarded, I see the entry on my router just fine, but I cannot connect to the websocket server. If I manually forward the port, so other than the entry not being marked UPNP it lo

[2021-06-16 15:19] lontivero commented on #71
All what I see is Open.NAT behaving correctly. Something has to be broken before I can fix it and there is not evidence about that.

[2021-09-25 20:46] zezba9000 commented on #96
Look at my fork: https://github.com/zezba9000/Open.NAT

[2021-09-25 20:50] zezba9000 opened #106 "Some routers return empty space prefixed in XML response text (BUG!)"
In the file "SoapClient.cs" this line of code "var responseXml = GetXmlDocument(responseBody);" should be changed to "var responseXml = GetXmlDocument(responseBody.Trim());".

In short you need to add ".Trim()" to the "responseBody" string as some older routers return empty text prefixing the body. This ends up causing XML exceptions for otherwise successful responses.

I've fixed this in my fork:

[2022-01-07 04:17] #106 closed

[2022-01-07 04:17] lontivero commented on #106
Fixed: https://github.com/lontivero/Open.NAT/commit/dc8101129a395319cba8e55cf52f576aeee0c74b

[2022-01-09 02:58] lontivero commented on #96
Working on this. It will be ready next week. See: https://github.com/lontivero/Open.NAT/tree/netstd2

[2022-01-09 04:03] lontivero commented on #95
Thanks for reporting this and for providing a solution. I hope to be able to work on it next month.

[2022-01-09 04:05] lontivero commented on #94
This is important now because I will upgrade the library to `netstandard2.0` soon.

[2022-01-09 04:09] #92 closed

[2022-01-09 04:10] lontivero commented on #91
I will be creating a new package soon.

[2022-01-09 23:51] zezba9000 commented on #106
Awesome!

[2022-06-27 21:25] ghost opened #110 "500 Internal Error When GetAllMappingsAsync"
Hello there!
I recently created a simple UPNP Port Mapper for managing port mappings and I choose this library to help.
It worked amazingly until I was getting close to putting it on the Microsoft Store.
All of the sudden I was getting a 500 Internal Error whenever I ran GetAllMappingsAsync, but after disabling break on exceptions, the program worked just fine until I reenabled it. So I can only r

[2022-09-18 18:19] Wiilf commented on #83
I'm not what the issue is here, but in my case I added a Thread.Sleep(2000) call on Form_Closing, which properly waits for the entry to delete from router table and close application. If you don't wait on it, it won't have time to remove ports (in my case, on a brand new Aeris DOSCIS3.1 modem / fibre).

Just some insight.